    <form action="simpanuser" method="post">
        <p><input type="text" name="fullname" >Nama Lengkap</p>
        <p><input type="text" name="username" >Nama User</p>
        <p><input type="password" name="paswd" >Password</p>
        <p><input type="submit" value="SignUp"></p>
    </form>
